.projects-container {
  height: 100vh;
  display: flex;
  padding: 0 10%;
  .project-details {
    flex: 1;
    .details {
      h2 {
        color: #f56505;
        margin-bottom: 30px;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.6rem;
        max-width: 400px;
        line-height: 1.8;
        margin: 10px 0;
      }
      section {
        margin-top: 30px;
        font-size: 1.1rem;
        max-width: 400px;
      }
      div {
        margin-top: 30px;
        font-size: 1.1rem;
        a{
          text-decoration: none;
          color: #f56505;
          font-weight: bold;
        }
      }
    }
  }
  .project-img {
    flex: 1;
  }
}
