

.projects-container {
  height: auto;
  padding: 2rem 0;
  @media only screen and (max-width: 872px) {
    height: auto;
  }

  .title {
    margin: 20px 0;
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
  }
  .projects {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project {
      width: 800px;
      height: auto;
      background-color: #24263f;
      padding: 40px;
      border-radius: 10px;
      color: #fff;
      margin: 10px;
      .project-flex {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: row;
        @media only screen and (max-width: 872px) {
          flex-direction: column;
        }
      }
      h2 {
        font-size: 1.1rem;
        text-decoration: underline;
      }
      p {
        max-width: 400px;
        line-height: 1.5;
        margin: 15px;
        @media only screen and (max-width: 872px) {
          min-width: 200px;
          margin: 20px auto;
          font-size: 1rem;
        }
      }
      span {
        margin: 0 10px;
        font-size: 0.9rem;
        .in-process {
          text-decoration: none;
          color: #fff;
          padding: 8px 10px;
          background-color: #0a85ed;
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: #fff;
          padding: 8px 20px;
          background-color: #0a85ed;
          font-weight: bold;
          &:hover {
            background-color: #2196fc;
          }
        }
      }

      @media only screen and (max-width: 872px) {
        width: 350px;
        height: auto;
      }
    }
  }
}
