.contact-container {
  height: auto;
  padding: 10%;
  .contact-me {
    color: white;
    h2 {
      margin: 20px 0;
      font-size: 1.8rem;
      text-decoration: underline #0583f5;
    }
    span {
      font-size: 1rem;
      color: lightgray;
    }
  }

  .contact-wrapper {
    display: flex;
    .form {
      flex: 1;
      div {
        margin: 30px 0;
        label {
          font-size: 1rem;
          display: block;
          margin: 20px 0;
          color: white;
          font-weight: bold;
        }
        input {
          padding: 0 15px;
          width: 500px;
          height: 40px;
          border: none;
          color: white;
          border-radius: 10px;
          background-color: #1d1d1d;
          font-size: 0.9rem;
          font-family: inherit;

          &:focus {
            outline: none;
          }
        }
        textarea {
          padding: 15px;
          width: 500px;
          border-radius: 10px;
          border: none;
          background-color: #1d1d1d;
          color: white;
          resize: none;
          height: 150px;
          font-size: 0.9rem;
          font-family: inherit;
          &:focus {
            outline: none;
          }
        }
      }
      button {
        color: white;
        padding: 10px 32px;
        background-color: #0583f5;
        border: none;
        border-radius: 20px;
        font-size: 0.95rem;
        font-weight: bold;
        cursor: pointer;
        &:active {
          transform: scale(0.96);
        }
      }
    }

    .my-network {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .network {
        display: flex;
        list-style-type: none;
        li {
          text-decoration: none;
          a {
            font-size: 1.8rem;
            color: white;
            margin: 0 30px;
          }
          &:hover {
            transform: scale(1.2) translateY(-3px);
            transition: all 0.25s ease-in;
          }
        }
      }
    }
  }
}
