@use '../../variables';
.contact-container {
  height: auto;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mulish', sans-serif;

  .contact-me {
    color: variables.$white-color;
    text-align: center;

    .title {
      margin: 20px 0;
      font-size: 1.8rem;
      font-family: 'Ubuntu', sans-serif;
    }
    span {
      font-size: 1rem;
      color: variables.$lightgray-color;
    }
  }

  .contact-wrapper {
    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        margin: 50px 0;
        label {
          font-size: 1rem;
          display: block;
          margin: 20px 0;
          color: variables.$white-color;
          font-weight: bold;
        }
        input {
          padding: 10px 15px;
          width: 500px;
          height: 40px;
          border: none;
          color: variables.$white-color;
          background-color: variables.$second-bg-color;
          font-size: 0.9rem;
          font-family: inherit;

          &:focus {
            outline: none;
          }
          @media only screen and (max-width: 872px) {
            width: 320px;
          }
        }
        textarea {
          padding: 15px;
          border: none;
          background-color: variables.$second-bg-color;
          color: variables.$white-color;
          resize: none;
          height: 150px;
          width: 500px;
          font-size: 0.9rem;
          font-family: inherit;
          &:focus {
            outline: none;
          }
          @media only screen and (max-width: 872px) {
            width: 320px;
          }
        }
      }
      button {
        color: variables.$white-color;
        padding: 16px 50px;
        background-color: variables.$primaryBtn-color;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: variables.$hoverBtn-color;
        }
        &:active {
          transform: scale(0.96);
        }
        @media only screen and (max-width: 872px) {
          margin-top: 20px;
          width: 320px;
        }
      }
    }

    .my-network {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .network {
        z-index: 1;
        display: flex;
        list-style-type: none;
        li {
          text-decoration: none;
          a {
            font-size: 1.6rem;
            color: variables.$white-color;
            margin: 0 30px;
          }
          &:hover {
            transform: scale(1.2) translateY(-3px);
            transition: all 0.25s ease-in;
          }
        }
      }
    }
  }
  .c-by {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
    color: variables.$credit-color;
  }

  .msg-success {
    color: variables.$hoverBtn-color;
    font-size: 0.9rem;
    font-weight: bold;
  }
}
