.header {
  height: 100vh;
  color: white;
  position: relative;
  // background: linear-gradient(90deg, #0062ff 0%, #1ecffc 100%);
  background: linear-gradient(90deg, #e64742 0% ,#f59b68 100%);
  border: transparent;

  .header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .header-wave svg {
    position: relative;
    display: block;
    width: calc(208% + 1.3px);
    height: 106px;
    transform: rotateY(180deg);
  }

  .header-wave .shape-fill {
    fill: #0f0f0f;
  }

  .back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #0583f5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .navbar {
    font-family: 'Mulish', sans-serif;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20%;
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      padding-right: 20px;
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
    @media only screen and (max-width: 872px) {
      padding: 5% 10% 0 10%;
      justify-content: space-between;
      .menu {
        display: inline-block;
      }
    }

    .navbar-ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 872px) {
        display: none;
      }

      li {
        margin: 0 30px;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 6px 15px;
        &:hover {
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .details-container {
    font-family: 'Ubuntu', sans-serif;
    max-width: 1800px;
    margin: auto;
    display: flex;
    .my-info {
      flex: 1;
      padding: 12% 0 0 10%;
      h1 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
      }
      h2 {
        font-size: 2.2rem;
        font-weight: lighter;
        margin-bottom: 5px;
      }
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
      p {
        margin-top: 15px;
        max-width: 600px;
        line-height: 1.5;
      }
      .view-work {
        color: #0583f5;
        padding: 10px 24px;
        background-color: #ececec;
        border: none;
        font-size: 0.95rem;
        font-weight: bold;
        margin-top: 30px;
        cursor: pointer;
        font-family: 'Mulish', sans-serif;
        &:hover {
          background-color: rgba(255, 255, 255);
        }
      }

      @media only screen and (max-width: 872px) {
        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 1.5rem;
          font-weight: lighter;
          margin-bottom: 5px;
        }
        span {
          font-size: 0.9rem;
          font-weight: bold;
        }
        p {
          margin-top: 3px;
          line-height: 1.2;
        }
      }
    }
    .my-icon {
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      .hero-animation {
        width: 900px;
      }
      .scroll-down {
        font-size: 10px;
      }
      @media only screen and (max-width: 1300px) {
        .hero-animation {
          width: 650px;
        }
      }
      @media only screen and (max-width: 872px) {
        margin: 0;
        .hero-animation {
          width: 450%;
        }
      }
    }
    @media only screen and (max-width: 872px) {
      flex-direction: column;
      padding: 0 10px;
    }

  }


}
