.header {
  height: 100vh;
  color: white;
  // color: black;

  .navbar {
    margin: 20px 0;
    display: flex;
    justify-content: last baseline;
    width: 100%;
    padding-left: 20%;
    span {
      font-size: 1.5rem;
      font-weight: bold;
      padding-right: 20px;
    }
    .navbar-ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 30px;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 6px 15px;
        &:hover {
          // color: #0583f5;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .details-container {
    max-width: 1600px;
    margin: auto;
    display: flex;
    .my-info {
      flex: 1;
      padding: 8% 0 0 10%;
      h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 2rem;
        font-weight: lighter;
        margin-bottom: 5px;
      }
      span {
        font-size: 1.2rem;
      }
      p {
        max-width: 600px;
      }
    }
    .my-icon {
      flex: 1;
      img {
        width: 500px;
      }
    }
  }
}
