$bg-color: #131529;
$second-bg-color: #24263f;
$white-color: #fff;
$hoverLi-color: #ffffff1a;
$lightgray-color: lightgray;
$primaryBtn-color: #0a85ed;
$hoverBtn-color: #2196fc;
$credit-color: #9e9d9d;
