@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #131529;
  // color: white;
  .fix-width {
    max-width: 1600px;
    margin: auto;
  }
}
