@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

.fix-width {
    max-width: 1600px ;
    margin: auto;
}